{% extends "recipes/base.html" %}
{% block title %}My Recipe Collection{% endblock %}
{% block content %}
    <h1>My Recipe Collection</h1>
    {% if tag %}
        <h2>Recipes tagged with "{{ tag.name }}"</h2>
    {% endif %}
    {% for recipe in recipes %}
        <div class="recipe-entry">
            <div class="recipe-list">
                {% if recipe.images.all %}
                    <!-- Display the first image associated with the recipe -->
                    <a href="{{ recipe.get_absolute_url }}">
                        <img src="{{ recipe.images.all.0.image.url }}" alt="{{ recipe.images.all.0.description }}">
                    </a>
                {% else %}
                    <p>No image available</p>
                {% endif %}
            </div>

            <div class="recipe-details">
                <h2>
                <a href="{{ recipe.get_absolute_url }}">
                    {{ recipe.title }}
                </a>
                </h2>
                {% if recipe.is_premium %}
                    <span class="premium-label">Premium Recipe</span>
                {% endif %}
                <p class="tags">Tags: 
                    {% for tag in recipe.tags.all %}
                    <a href="{% url 'recipes:recipe_list_by_tag' tag.slug %}">
                    {{ tag.name }}
                    </a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p class="date">
                    Published {{ recipe.publish }} by {{ recipe.author }}
                </p>
                <p>
                    Average Rating: {{ recipe.average_rating }} / 5
                </p>
                {% if recipe.is_premium %}
                    {% if user.is_authenticated and user.paid_user.is_paid %}
                        <p>Ingredients: {{ recipe.ingredients|truncatewords:10|linebreaks }}</p>
                        <p>Preparation Time: {{ recipe.prep_time }} minutes</p>
                    {% else %}
                        <p>This is premium content. <a href="{% url 'shop:payment_required' %}">Upgrade to premium</a> to access this recipe.</p>
                    {% endif %}
                {% else %}
                    <p>Ingredients: {{ recipe.ingredients|truncatewords:10|linebreaks }}</p>
                    <p>Preparation Time: {{ recipe.prep_time }} minutes</p>
                {% endif %}
                {{ recipe.content|truncatewords:30|linebreaks }}
            </div>
        </div>
    {% empty %}
        <li>No recipes available.</li>
    {% endfor %}
    {% include "pagination.html" with page=recipes %}
{% endblock %}
